{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>CRUD menggunakan GO-LANG</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Test belajar Krishand - CRUD menggunakan GO-LANG</h1>   
{{ end }}